*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'helvetica neue';
}

body{
  transition: 500ms; 
}


/* GENERAL STYLES */

.container{
  padding-inline: 1.5rem;
}

.overflow-box{
  overflow: hidden;
}

.main-img{
  margin-bottom: 2.5rem;
}

ul,ol{
  list-style: none;
}

body{
  height: 100vh;
  background-color: #f6f6f6;
}

h2{
  font-weight: 500;
}

body{
  background-color: #f6f6f6;
}

img{
  width: 100%;
}

header .middle-img{
  font-size: 0!important;
}

p, span{
  line-height: 1.6;
  font-size: .9rem;
  word-spacing: 2.4px;
}

/* BREAKPOINTS */

@media screen and (min-width: 560px){
    
}
@media screen and (min-width: 760px){
  .container{
    width: 50%;
    margin: auto;
  }
}
@media screen and (min-width: 920px){

  header .burger-box{
    display: none;
}

header nav{
    height: auto;
    width: auto;
    display: block;
    transform: none!important;
    position: relative;
    background-color: transparent;
    padding-block: 1.5rem;
    width: 100%;
}

.middle-img{
  position: relative;
}

.middle-img a{
  line-height: 0;
}

header nav a,
header nav li{
    color: black
}

header nav .social-box{
    display: none;
}

header nav .mobile-nav-description{
    display: none;
}

nav .links-wrapper{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left-links,
.right-links{
    display: flex;
    gap: 1rem;
}

header nav .left-links li a,
header nav .right-links li a{
    font-size: 1rem;
    transition: 300ms ease;
    display: block;
    padding-block: 1rem;
}  

header h1{
    display: none;
}

.page-subtitle{
  font-size: 1rem;
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 2.3rem;
  letter-spacing: 2px;
  font-family: 'helvetica neue';
  color: black;
  font-weight: lighter;
  text-transform: uppercase;
}

.right-links{
  width: 188px;
  justify-content: end;
}

  body.dark{
    background-color: black;
  }

  body.dark header .middle-img{
    filter: invert(1)
  }

   header .left-links .arqui-nav-link ul{
    gap: .4rem;
    padding: 1rem;
    top: 0;
    left: 0;
    position: absolute;
    top: 4.5rem;
    z-index: 999999999;
    display: grid;
    opacity: 0;
    pointer-events: none;
    border-radius: 15px;
    transition: 500ms ;
    transform: translateY(10px);

  }

  header .left-links .arqui-nav-link:hover > a{
    color: rgb(255, 255, 255);
  }

  header .left-links .arqui-nav-link:hover ul a{
    color: #a5a5a5;

  }

  header .left-links .arqui-nav-link:hover ul a::before{
    content: '-';
    color: #ffffff;
    margin-right: .3rem;
  }

  header .left-links .arqui-nav-link:hover ul{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
  }

  header .left-links .arqui-nav-link.mobi-link:hover ul a::before{
    color: #a5a5a5;
  }

  header .left-links .arqui-nav-link.mobi-link:hover > a{
    color: black!important;
  }

  header .left-links .arqui-nav-link ul a{
    font-size: .7rem;
    padding: 0;
    font-family: 'helvetica neue';
    color: #f6f6f6;
  }

  .left-links .arqui-nav-link.mobi-link ul{
    left: 6.1rem;
  }
}
@media screen and (min-width: 1200px){
    
}
@media screen and (min-width: 1450px){
    
}